__pycache__/westermo-fw-automation.cpython-310.pyc
westermo-fw-automation-v2.zip
build/westermo-fw-automation/Analysis-00.toc
build/westermo-fw-automation/base_library.zip
build/westermo-fw-automation/EXE-00.toc
build/westermo-fw-automation/PKG-00.toc
build/westermo-fw-automation/PYZ-00.pyz
build/westermo-fw-automation/PYZ-00.toc
build/westermo-fw-automation/westermo-fw-automation-head.pkg
build/westermo-fw-automation/westermo-fw-automation-v2-WeOS-4.32.1.pkg
build/westermo-fw-automation/westermo-fw-automation-WeOS-4.32.1.pkg
build/westermo-fw-automation/westermo-fw-automation.pkg
dist/westermo-fw-automation-v2-WeOS-4.32.1.exe
dist/westermo-fw-automation-WeOS-4.32.1.exe
build
dist
chromedriver.exe
westermo-fw-automation-v2-WeOS-4.32.2.zip
chromedriver.exe
__pycache__/apufunktiot.cpython-310.pyc

